In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import get_raw_data
import get_preprocessing_data
import analysis_method
import statsmodels.regression.linear_model as sm

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

pv_list = ["0102", "1701", "1702", "0111", "0330", "0331", "0332", "0333", "0101", "0107", "0110", "5501"]
#["0102"(가구주와의 관계), "1701"(근로소득 유무), "1702"(총 연간근로소득), "0111"(학력졸업여부), "0330"(업종8차),
# "0331"(업종9차), "0332"(직종8차), "0333"(직종9차), "0101"(성별), "0107"(만나이), "0110"(학력학교), "5501"(혼인상태)]
hv_list = ["0150", "1406", "2102", "2134", "2136", " 2138", "2140", "2142", "2152", "2153", "2155",
           "2156", "2157", "2158", "2159", "2160", "2182", "2183", "2184", "2185", "2186", "2187",
           "2189", "2190", "2191"]
income_code_list = ["2102", "2134", "2136", " 2138", "2140", "2142", "2152", "2153", "2155", "2156",
                    "2157", "2158", "2159", "2160", "2182", "2183", "2184", "2185", "2186", "2187",
                    "2189", "2190", "2191"]

cpi_data = pd.read_excel("C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\CPI.xls").loc[0, :]
cpi_data_index = pd.read_excel("C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\CPI.xls", dtype="str").loc[14, :].values[1:]
cpi_data = pd.Series(cpi_data.values[1:], dtype="float")
cpi_data.name = "CPI"
cpi_data.index = cpi_data_index

industry_8 = pd.read_excel("C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\국내데이터_산업분류.xlsx", sheet_name="8차")
industry_large = pd.read_excel("C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\국내데이터_산업분류.xlsx", sheet_name="대분류")

industry_return = pd.read_excel("C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\oversea_return(5_index_without_nasdaq).xlsx", index_col=0)

data_num = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21"]

cpi_multiple = get_preprocessing_data.get_cpi_multi(cpi_data, data_num)

data_dict = {}
for i in data_num:
    h_path = "C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\h_data\\h_" + i + ".pickle"
    p_path = "C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\p_data\\p_" + i + ".pickle"

    h_data = pd.read_pickle(h_path)
    p_data = pd.read_pickle(p_path)

    raw_hdata = get_raw_data.get_hv_data(h_data, hv_list, i)
    raw_pdata = get_raw_data.get_pv_data(p_data, pv_list, i)
    
    fin_p_data = get_preprocessing_data.get_fin_personal(raw_pdata, industry_8, industry_large)
    income_data = get_preprocessing_data.get_income_data(fin_p_data.index, raw_hdata)

    fin_x_value = get_preprocessing_data.get_final_xvalue(raw_hdata, fin_p_data)
    fin_y_value = get_preprocessing_data.get_final_yvalue(income_data, cpi_multiple[i])

    finally_preprocessed_data = get_preprocessing_data.get_total_data(fin_y_value, fin_x_value)

    data_dict[i] = finally_preprocessed_data

C:\Users\JeayongYu\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data_df = pd.DataFrame()
for i in data_dict.keys():
    data_df = pd.concat([data_df, data_dict[i]])

_______________________________


### log(Y*)의 계산

In [3]:
temp_edu = data_df.groupby(["0110", "0330"]).get_group((1, "제조업 (10 ~ 33)"))
temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, 22)
x_mat = analysis_method.get_reg_x(temp_edu).iloc[:, :3]
fer_results = analysis_method.fe_regression_sol(temp_edu, False)

poly_x_mat = analysis_method.polynomial_matrix(temp_edu["0107"], 3) .iloc[:, 1:]
poly_x_mat.index = x_mat.index
fitting_result = analysis_method.fitting_polynomial(fer_results, 3, False)

In [4]:
fer_results[0][:3]

intercept     7.671403
marriage      0.216859
family_num    0.068147
dtype: float64

In [5]:
fitting_result[1]

intercept    -0.310767
age^1/10^0   -0.027853
age^2/10^1    0.015535
age^3/10^2   -0.001434
dtype: float64

In [6]:
fitting_paramters = pd.concat([fer_results[0][:3], fitting_result[1]], axis=1).sum(axis=1)
fitting_paramters

intercept     7.360636
marriage      0.216859
family_num    0.068147
age^1/10^0   -0.027853
age^2/10^1    0.015535
age^3/10^2   -0.001434
dtype: float64

In [7]:
real_data = pd.concat([x_mat, poly_x_mat], axis=1)
real_data

          intercept  marriage  family_num  age^1/10^0  age^2/10^1  age^3/10^2
hhid
91.0              1       1.0         5.0        51.0       260.1     1326.51
99.0              1       1.0         4.0        51.0       260.1     1326.51
115.0             1       1.0         4.0        43.0       184.9      795.07
173.0             1       1.0         4.0        38.0       144.4      548.72
175.0             1       1.0         4.0        42.0       176.4      740.88
...             ...       ...         ...         ...         ...         ...
110251.0          1       0.0         1.0        24.0        57.6      138.24
101398.0          1       1.0         3.0        61.0       372.1     2269.81
110252.0          1       0.0         1.0        24.0        57.6      138.24
110085.0          1       1.0         4.0        35.0       122.5      428.75
110102.0          1       1.0         2.0        30.0        90.0      270.00

[6004 rows x 6 columns]

In [8]:
temp_edu["labor income"]

hhid
91.0        1940.968781
99.0        3105.550050
115.0       4852.421952
173.0       3881.937562
175.0       3881.937562
               ...
110251.0    2410.000000
101398.0    4360.000000
110252.0    2760.000000
110085.0    6140.000000
110102.0    3500.000000
Name: labor income, Length: 6004, dtype: float64

In [9]:
real_data @ fitting_paramters

hhid
91.0        8.636426
99.0        8.568280
115.0       8.384863
173.0       8.248181
175.0       8.358367
              ...
110251.0    7.456930
101398.0    8.608988
110252.0    7.456930
110085.0    8.163537
110102.0    7.889237
Length: 6004, dtype: float64

_______________________________


### 3rd-order polynomials vision(각 parameter의 계수를 한번 추정하여 rid계산하는 경우)

In [10]:
fitting_paramters

intercept     7.360636
marriage      0.216859
family_num    0.068147
age^1/10^0   -0.027853
age^2/10^1    0.015535
age^3/10^2   -0.001434
dtype: float64

----------------------------------------
### shock calculation

In [11]:
industry_list = data_df["0330"].value_counts()[:15].index
industry_list

Index(['제조업 (10 ~ 33)', '도매 및 소매업 (45~47)', '건설업 (41 ~ 42)', '운수업(49~52)',
       '교육 서비스업(85)', '협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)',
       '공공행정, 국방 및 사회보장 행정(84)', '출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)',
       '금융 및 보험업 (64 ~ 66)', '농업, 임업 및 어업 (01 ~ 03)', '부동산업 및 임대업 (68 ~ 69)',
       '숙박 및 음식점업 (55 ~ 56)', '하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39)',
       '전문, 과학 및 기술 서비스업 (70 ~ 73)', '보건업 및 사회복지 서비스업(86~87)'],
      dtype='object')

In [12]:
group_sigma_dict = {} 
group_rid_dict = {}
for l in industry_list:
    group_sigma_df = pd.DataFrame()
    group_pvalue_df = pd.DataFrame()
    group_rid_df = pd.DataFrame()

    start_list = [22, 24, 26]
    for i in range(data_df["0110"].max()):
        df_y_star = pd.DataFrame()

        temp_edu = data_df.groupby(["0110", "0330"]).get_group((i+1, l))
        temp_edu = get_preprocessing_data.get_agecut_data(temp_edu, start_list[i])

        fer_results = analysis_method.fe_regression_sol(temp_edu, False)
        fitting_result = analysis_method.fitting_polynomial(fer_results, 3, False)

        fitting_paramters = pd.concat([fer_results[0][:3], fitting_result[1]], axis=1).sum(axis=1)

        for j in data_num:
            temp_edu_split = data_dict[j].groupby(["0110", "0330"]).get_group((i+1, l))
            temp_edu_split = get_preprocessing_data.get_agecut_data(temp_edu_split, start_list[i])

            log_y = np.log(temp_edu_split["labor income"])

            x_mat = analysis_method.get_reg_x(temp_edu_split).iloc[:, :3]
            poly_x_mat = analysis_method.polynomial_matrix(temp_edu_split["0107"], 3) .iloc[:, 1:]
            poly_x_mat.index = x_mat.index

            temp_real_data = pd.concat([x_mat, poly_x_mat], axis=1)

            f_hat = temp_real_data @ fitting_paramters

            log_y_star = log_y - f_hat
            df_y_star = pd.concat([df_y_star, log_y_star], axis=1)

        df_y_star.columns = data_num

        temp_varrid_list = []
        temp_rid_list = []
        for k in range(len(data_num)-1):
            temp_rid = df_y_star.iloc[:, :-(k+1)].values - df_y_star.iloc[:, k+1:].values
            temp_rid_list.append(temp_rid)

            temp_varrid_list.append(np.nanvar(temp_rid))

        var_rid_series = pd.Series(temp_varrid_list)

        rid_series = (pd.DataFrame(temp_rid_list[0], columns = data_num[1:]) * -1).mean()
        group_rid_df = pd.concat([group_rid_df, rid_series], axis=1)

        var_rid_x = np.ones([len(var_rid_series), 2]) * 2
        var_rid_x[:, 0] = var_rid_series.index.values + 1
        var_rid_y = var_rid_series.values

        sol = sm.OLS(var_rid_y, var_rid_x)
        sol_result = sol.fit()

        sigma_df = pd.DataFrame(sol_result.params, index=["permanent_shock", "idiosyncratic_temporary_shock"], columns=["sigma"])
        pvalue_df = pd.DataFrame(np.round(sol_result.pvalues, 3), index=["permanent_shock(p-value)", "idiosyncratic_temporary_shock(p-value)"], columns=["p-value"])

        group_sigma_df = pd.concat([group_sigma_df, sigma_df], axis=1)
        group_pvalue_df = pd.concat([group_pvalue_df, pvalue_df], axis=1)

    group_rid_df.columns = ["high_school", "college", "university"]
    group_sigma_df.columns = ["high_school", "college", "university"]
    group_pvalue_df.columns = ["high_school", "college", "university"]
    group_sigma_df = pd.concat([group_sigma_df, group_pvalue_df]).loc[["idiosyncratic_temporary_shock", "permanent_shock", "idiosyncratic_temporary_shock(p-value)", "permanent_shock(p-value)"],:]
    group_sigma_dict[l] = group_sigma_df
    group_rid_dict[l] = group_rid_df

C:\Users\JeayongYu\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: RuntimeWarning: Degrees of freedom <= 0 for slice.
C:\Users\JeayongYu\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
C:\Users\JeayongYu\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
C:\Users\JeayongYu\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [13]:
pd.DataFrame.from_dict({(i,j): group_sigma_dict[i][j]
                        for i in group_sigma_dict.keys()
                        for j in group_sigma_dict[i].columns}, orient="index")

                                                  idiosyncratic_temporary_shock  \
제조업 (10 ~ 33)                        high_school                       0.128567
                                     college                           0.132352
                                     university                        0.098062
도매 및 소매업 (45~47)                     high_school                       0.230334
                                     college                           0.152413
                                     university                        0.180441
건설업 (41 ~ 42)                        high_school                       0.161094
                                     college                           0.026122
                                     university                        0.105717
운수업(49~52)                           high_school                       0.110736
                                     college                           0.104665
                                     university                        0.102564
교육 서비스업(85)                          high_school                       0.165170
                                     college                                NaN
                                     university                        0.097606
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school                       0.205737
                                     college                           0.097313
                                     university                        0.210729
공공행정, 국방 및 사회보장 행정(84)               high_school                       0.063387
                                     college                           0.080998
                                     university                        0.130281
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school                       0.176051
                                     college                           0.232318
                                     university                        0.156717
금융 및 보험업 (64 ~ 66)                   high_school                       0.291905
                                     college                           0.047781
                                     university                        0.088360
농업, 임업 및 어업 (01 ~ 03)                high_school                       0.326568
                                     college                           0.719001
                                     university                        0.286442
부동산업 및 임대업 (68 ~ 69)                 high_school                       0.319312
                                     college                           0.142916
                                     university                             NaN
숙박 및 음식점업 (55 ~ 56)                  high_school                       0.270627
                                     college                           0.275648
                                     university                        0.417059
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school                       0.148473
                                     college                                NaN
                                     university                        0.149371
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school                       0.334095
                                     college                                NaN
                                     university                        0.211715
보건업 및 사회복지 서비스업(86~87)               high_school                            NaN
                                     college                                NaN
                                     university                        0.122719

                                                  permanent_shock  \
제조업 (10 ~ 33)                        high_school         0.005564
                                     college             0.004175
                                     university          0.004418
도매 및 소매업 (45~47)                     high_school        -0.005053
                                     college             0.004436
                                     university          0.008551
건설업 (41 ~ 42)                        high_school         0.021424
                                     college             0.037397
                                     university         -0.001721
운수업(49~52)                           high_school         0.003722
                                     college             0.000836
                                     university          0.000319
교육 서비스업(85)                          high_school         0.005849
                                     college                  NaN
                                     university          0.011052
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school        -0.006943
                                     college            -0.004828
                                     university         -0.008948
공공행정, 국방 및 사회보장 행정(84)               high_school         0.003659
                                     college            -0.001055
                                     university          0.003935
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school        -0.012057
                                     college            -0.014263
                                     university         -0.004663
금융 및 보험업 (64 ~ 66)                   high_school        -0.019838
                                     college             0.002669
                                     university          0.005732
농업, 임업 및 어업 (01 ~ 03)                high_school         0.008370
                                     college            -0.056087
                                     university         -0.015674
부동산업 및 임대업 (68 ~ 69)                 high_school        -0.022752
                                     college            -0.005515
                                     university               NaN
숙박 및 음식점업 (55 ~ 56)                  high_school        -0.019636
                                     college             0.004520
                                     university         -0.030013
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school        -0.005297
                                     college                  NaN
                                     university         -0.007926
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school        -0.022054
                                     college                  NaN
                                     university          0.014559
보건업 및 사회복지 서비스업(86~87)               high_school              NaN
                                     college                  NaN
                                     university         -0.004858

                                                  idiosyncratic_temporary_shock(p-value)  \
제조업 (10 ~ 33)                        high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
도매 및 소매업 (45~47)                     high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
건설업 (41 ~ 42)                        high_school                                   0.000
                                     college                                       0.560
                                     university                                    0.000
운수업(49~52)                           high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
교육 서비스업(85)                          high_school                                   0.001
                                     college                                         NaN
                                     university                                    0.000
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
공공행정, 국방 및 사회보장 행정(84)               high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
금융 및 보험업 (64 ~ 66)                   high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
농업, 임업 및 어업 (01 ~ 03)                high_school                                   0.000
                                     college                                       0.000
                                     university                                    0.000
부동산업 및 임대업 (68 ~ 69)                 high_school                                   0.000
                                     college                                       0.000
                                     university                                      NaN
숙박 및 음식점업 (55 ~ 56)                  high_school                                   0.000
                                     college                                       0.002
                                     university                                    0.000
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school                                   0.000
                                     college                                         NaN
                                     university                                    0.000
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school                                   0.000
                                     college                                         NaN
                                     university                                    0.121
보건업 및 사회복지 서비스업(86~87)               high_school                                     NaN
                                     college                                         NaN
                                     university                                    0.000

                                                  permanent_shock(p-value)
제조업 (10 ~ 33)                        high_school                     0.001
                                     college                         0.142
                                     university                      0.000
도매 및 소매업 (45~47)                     high_school                     0.179
                                     college                         0.307
                                     university                      0.171
건설업 (41 ~ 42)                        high_school                     0.000
                                     college                         0.000
                                     university                      0.285
운수업(49~52)                           high_school                     0.009
                                     college                         0.689
                                     university                      0.880
교육 서비스업(85)                          high_school                     0.390
                                     college                           NaN
                                     university                      0.000
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school                     0.007
                                     college                         0.015
                                     university                      0.023
공공행정, 국방 및 사회보장 행정(84)               high_school                     0.073
                                     college                         0.708
                                     university                      0.391
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school                     0.015
                                     college                         0.082
                                     university                      0.183
금융 및 보험업 (64 ~ 66)                   high_school                     0.000
                                     college                         0.150
                                     university                      0.000
농업, 임업 및 어업 (01 ~ 03)                high_school                     0.291
                                     college                         0.004
                                     university                      0.059
부동산업 및 임대업 (68 ~ 69)                 high_school                     0.000
                                     college                         0.230
                                     university                        NaN
숙박 및 음식점업 (55 ~ 56)                  high_school                     0.000
                                     college                         0.725
                                     university                      0.070
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school                     0.123
                                     college                           NaN
                                     university                      0.034
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school                     0.009
                                     college                           NaN
                                     university                      0.512
보건업 및 사회복지 서비스업(86~87)               high_school                       NaN
                                     college                           NaN
                                     university                      0.034

----------------------------------------
### Beta & Correlation

In [14]:
ksi = group_rid_dict
ksi = pd.DataFrame.from_dict({(i,j): ksi[i][j]
                        for i in ksi.keys()
                        for j in ksi[i].columns}, orient="columns")
ksi

   제조업 (10 ~ 33)                      도매 및 소매업 (45~47)                       \
     high_school   college university      high_school   college university
02      0.007936 -0.015213  -0.168354         0.047998 -0.216268   0.005373
03      0.121108  0.109246   0.102576         0.037752  0.107304   0.070973
04     -0.023950  0.056576   0.091451         0.009540 -0.170712   0.329930
05      0.122707  0.274583   0.085298         0.170987  0.363985   0.159425
06      0.020656 -0.052918   0.032888         0.030831  0.033840  -0.027450
07      0.074780  0.131687   0.041172        -0.016062  0.087894  -0.042301
08      0.083470  0.099782   0.080112         0.086254  0.050811   0.146413
09      0.047586  0.082750   0.043073         0.120813  0.091605   0.049105
10      0.078421  0.250875   0.031349        -0.042151  0.096209   0.155673
11      0.059346  0.094015  -0.009247         0.067231 -0.016178   0.027143
12     -0.058674 -0.055999  -0.036908        -0.063784 -0.008752   0.034829
13      0.018799  0.007880   0.031020         0.134383 -0.020572   0.095717
14      0.075154  0.014054   0.122203         0.121494  0.007894  -0.069367
15      0.030897  0.035795   0.028640        -0.070758  0.042744   0.040489
16      0.044527  0.037914   0.067321         0.058498 -0.028287   0.005821
17      0.026370  0.030604   0.009034         0.037838  0.057611  -0.048287
18      0.014769 -0.002349   0.001254         0.029775  0.057380   0.035751
19      0.044185  0.045973  -0.005797         0.040638  0.023579  -0.024350
20      0.006813  0.057697  -0.017589        -0.009437 -0.014199   0.081272
21      0.028423 -0.052852   0.037628         0.043337 -0.045669   0.020934

   건설업 (41 ~ 42)                       운수업(49~52)  ... 숙박 및 음식점업 (55 ~ 56)  \
     high_school   college university high_school  ...          university
02     -0.010032  0.089944  -0.111470    0.040137  ...           -0.113438
03      0.159192  0.145865  -0.030692   -0.022948  ...           -0.055891
04     -0.040508 -0.018140   0.034383   -0.046301  ...            0.169800
05      0.340476  0.113331   0.055930    0.190651  ...            0.013178
06      0.081855  0.067354   0.143102    0.059257  ...            0.169455
07      0.060136  0.063546   0.108684    0.088376  ...           -0.050348
08     -0.017736  0.460501   0.156956    0.005948  ...           -0.076455
09      0.152887  0.234690   0.053747    0.074090  ...            0.323796
10      0.019184  0.107719  -0.018915    0.068813  ...            0.325086
11      0.015109  0.063075   0.092624    0.013874  ...            0.213155
12     -0.024735 -0.024850  -0.024349   -0.075282  ...           -0.261137
13      0.130247 -0.000034   0.183821    0.116805  ...            0.137881
14      0.054316 -0.051046   0.109588    0.041827  ...           -0.008953
15      0.112956  0.036584   0.013071    0.060065  ...           -0.013589
16      0.052958  0.006262  -0.017650    0.004752  ...            0.003322
17      0.103464 -0.000543   0.020792    0.061517  ...            0.002578
18      0.022046 -0.003612   0.007192    0.016380  ...           -0.106549
19      0.069472  0.018347   0.032737    0.023663  ...           -0.091195
20      0.050565  0.081795  -0.020756    0.140234  ...            0.284360
21      0.010901  0.021683   0.034308    0.031035  ...           -0.009280

   하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39)                       \
                            high_school   college university
02                            -0.114693 -0.205260   0.151646
03                             0.345524  0.054593  -0.080510
04                            -0.081719  0.176880   0.217866
05                            -0.276414 -0.092816  -0.172874
06                             0.042524  0.164031   0.194906
07                             0.336040  0.420288  -0.062724
08                            -0.008119 -0.225451   0.082811
09                             0.164824  0.009477   0.117373
10                             0.092078  0.362466  -0.024142
11                            -0.001027 -0.191691   0.095167
12                             0.036349  0.232879  -0.048452
13                             0.002211  0.038233  -0.002507
14                             0.045973 -0.114248   0.003100
15                             0.054026 -0.155195   0.159823
16                            -0.070551  0.352807  -0.047870
17                             0.020595 -0.162452  -0.003923
18                             0.059923 -0.123365   0.029153
19                             0.035095  0.172395  -0.035764
20                             0.076714  0.024289   0.035546
21                            -0.056663  0.145339  -0.063192

   전문, 과학 및 기술 서비스업 (70 ~ 73)                      보건업 및 사회복지 서비스업(86~87)  \
                  high_school   college university            high_school
02                  -0.108180  0.137620  -0.106992               0.382751
03                  -0.086540 -0.189665   0.109557              -0.248860
04                  -0.022564  0.368432   0.348989              -0.260180
05                   0.151574  0.646491   0.695018               0.148093
06                  -0.118908 -0.143988  -0.140412               0.030067
07                   0.137253 -0.024495   0.386739               0.061267
08                   0.163907 -0.057313   0.131225              -0.035276
09                  -0.004350  0.057939  -0.043574               0.280141
10                   0.056505 -0.081142   0.193384               0.066270
11                   0.073438  0.001115   0.175736              -0.116610
12                  -0.013017 -0.009324  -0.069535               0.202549
13                  -0.115349 -0.109935   0.049443               0.021402
14                  -0.255213  0.223042   0.042865               0.229400
15                   0.048009 -0.309850   0.029442              -0.179671
16                   0.330074  0.065135  -0.021879               0.082557
17                   0.062855 -0.126933   0.094973               0.194594
18                   0.110770 -0.005151  -0.061943               0.046138
19                  -0.014100 -0.088428   0.193852               0.066305
20                   0.027251  0.217974   0.015548              -0.125439
21                   0.024967  0.021786  -0.041471              -0.116130


     college university
02 -0.154079   0.023783
03  0.007382  -0.109906
04  0.002858   0.328149
05  0.296471   0.140151
06  0.368848   0.083116
07  0.166457  -0.112233
08  0.002003   0.112579
09  0.445123   0.024632
10 -0.235050   0.120657
11  0.072601   0.187208
12 -0.036175  -0.108161
13 -0.047659   0.045565
14 -0.060711   0.086680
15  0.151230  -0.053010
16  0.007433   0.049084
17  0.071626   0.205532
18  0.467657  -0.067182
19  0.080943   0.021469
20  0.085826  -0.051354
21 -0.163530   0.113529

[20 rows x 45 columns]

In [15]:
industry_return.index = data_num
industry_ret = industry_return.copy() / 100

beta_dict = {}
#pvalue_dict = {}
for j in group_rid_dict.keys():
    beta_dict_l2 = {}
    for i in group_rid_dict[j].columns:
        beta_list = []
        pvalue_list = []
        eta_list = []
        
        temp_excess_ret = (industry_ret - 0.02)
        for k in industry_ret.columns:
            temp_eta = temp_excess_ret[k] - np.mean(temp_excess_ret)[k]
            eta_list.append(temp_eta)
            
            temp_beta_model = sm.OLS(ksi[j][i], temp_eta.loc[ksi[j].index])
            temp_beta_results = temp_beta_model.fit()
            
            beta_list.append(temp_beta_results.params[0])
            pvalue_list.append(temp_beta_results.pvalues[0])
        
        eta = pd.DataFrame(eta_list, index=industry_ret.columns).T
        beta = pd.DataFrame(beta_list, index=industry_ret.columns, columns=["Beta"])
        pvalue = pd.DataFrame(pvalue_list, index=industry_ret.columns, columns=["p-value"])
    
        beta_dict_l2[i] = pd.concat([beta, pvalue], axis=1).T
    beta_dict[j] = beta_dict_l2
    #pvalue_dict[j] = pvalue

In [16]:
pd.DataFrame.from_dict({(i,j,k): beta_dict[i][j][k]
                        for i in beta_dict.keys()
                        for j in beta_dict[i].keys()
                        for k in beta_dict[i][j].columns}, orient="index")

                                                        Beta   p-value
제조업 (10 ~ 33)          high_school 대한민국 - KOSPI     0.101733  0.013188
                                   독일 DAX           0.065311  0.275196
                                   영국 FTSE 100      0.087278  0.354129
                                   러셀 3000          0.071925  0.350056
                                   국고채 총수익 지수      -0.422216  0.453696
...                                                      ...       ...
보건업 및 사회복지 서비스업(86~87) university  러셀 3000         -0.016802  0.917749
                                   국고채 총수익 지수      -1.172843  0.316275
                                   국고채 콜 재투자 지수    -1.201889  0.332279
                                   국고채 제로 재투자 지수   -1.229574  0.331729
                                   KRW Cash 총수익 지수 -0.177022  0.978591

[360 rows x 2 columns]

In [17]:
eta

,대한민국 - KOSPI,독일 DAX,영국 FTSE 100,러셀 3000,국고채 총수익 지수,국고채 콜 재투자 지수,국고채 제로 재투자 지수,KRW Cash 총수익 지수
01,-0.5517,0.346257,0.183457,0.153329,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
02,0.3783,0.112757,0.128557,0.173929,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
03,0.7068,0.254557,0.118457,0.113129,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
04,-0.6121,-0.143943,-0.135443,-0.164371,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
05,0.2537,-0.296943,-0.199243,-0.208071,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
06,-0.2164,-0.546243,-0.297643,-0.318271,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
07,0.1709,0.263957,0.104457,0.207329,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
08,-0.0159,-0.033443,0.036557,0.021629,3.469447e-18,3.469447e-18,0.000000,1.734723e-18
09,0.4389,0.178257,0.128157,-0.033771,-4.671538e-02,-4.416154e-02,-0.043946,1.734723e-18
10,-0.0725,0.106957,0.068257,0.052429,1.648462e-02,1.683846e-02,0.014954,1.734723e-18
11,0.2015,0.113257,-0.003843,-0.046171,-1.091538e-02,-9.361538e-03,-0.008946,1.734723e-18
12,-0.5283,-0.510543,-0.363443,-0.481871,7.628462e-02,7.133846e-02,0.069454,1.734723e-18
13,0.3755,0.131657,0.187157,0.208129,-1.981538e-02,-1.886154e-02,-0.017646,1.734723e-18
14,0.0978,0.053757,0.064557,0.056029,3.008462e-02,2.853846e-02,0.028854,1.734723e-18
15,-0.2276,-0.270743,-0.113243,-0.088171,8.184615e-03,9.038462e-03,0.010154,6.428571e-03
16,-0.0268,0.212157,0.034257,0.047329,7.484615e-03,7.738462e-03,0.007954,1.082857e-02
17,-0.1138,0.147957,0.094357,0.245829,-1.211538e-02,-1.116154e-02,-0.011446,3.428571e-03
18,-0.1686,-0.080343,-0.069043,0.038929,1.488462e-02,1.273846e-02,0.012154,3.228571e-03
19,-0.0971,-0.011243,-0.083343,-0.096071,-5.415385e-03,-6.361538e-03,-0.006646,-4.771429e-03
20,-0.0904,-0.052443,0.085957,0.009929,-2.441538e-02,-2.336154e-02,-0.023546,-9.271429e-03
21,0.0978,0.024357,0.031057,0.108829,-3.401538e-02,-3.296154e-02,-0.031346,-9.871429e-03

In [18]:
corr_dict = {}
for j in group_rid_dict.keys():
    
    corr_df = pd.DataFrame()
    for i in [0, 1, 2]:
        
        corr_list = []
        for k in eta.columns:
            corr_list.append(np.corrcoef(eta.loc[ksi[j].index, :][k], ksi[j][ksi[j].columns[i]])[0, 1])
        
        temp_corr_df = pd.DataFrame(corr_list, index=eta.columns)
        corr_df = pd.concat([corr_df, temp_corr_df], axis=1)
    
    corr_df.columns = ksi[j].columns
    corr_dict[j] = corr_df

In [19]:
corr_df = pd.DataFrame.from_dict({(i,j): corr_dict[i][j]
                        for i in corr_dict.keys()
                        for j in corr_dict[i].columns}, orient="index")

corr_df

                                                  대한민국 - KOSPI    독일 DAX  \
제조업 (10 ~ 33)                        high_school      0.651662  0.417717
                                     college          0.281832  0.248406
                                     university       0.030514  0.063937
도매 및 소매업 (45~47)                     high_school      0.564696  0.246978
                                     college          0.260638 -0.110578
                                     university      -0.227683 -0.152197
건설업 (41 ~ 42)                        high_school      0.493822 -0.015998
                                     college          0.330779  0.125441
                                     university       0.053661 -0.076892
운수업(49~52)                           high_school      0.362856  0.068671
                                     college         -0.280896 -0.148224
                                     university       0.301071  0.348965
교육 서비스업(85)                          high_school      0.594415  0.471723
                                     college          0.515481  0.027411
                                     university       0.085031  0.022039
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school      0.389907  0.004532
                                     college         -0.159744 -0.090991
                                     university       0.141015  0.229688
공공행정, 국방 및 사회보장 행정(84)               high_school     -0.060245  0.113998
                                     college          0.198401  0.442844
                                     university       0.581852  0.148313
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school      0.110215  0.111823
                                     college          0.040419  0.294136
                                     university       0.082627 -0.266659
금융 및 보험업 (64 ~ 66)                   high_school      0.214817 -0.155914
                                     college          0.270635  0.008684
                                     university      -0.318382  0.211289
농업, 임업 및 어업 (01 ~ 03)                high_school      0.575245  0.346007
                                     college          0.237771  0.101976
                                     university       0.065413 -0.134182
부동산업 및 임대업 (68 ~ 69)                 high_school      0.088553 -0.072301
                                     college         -0.314350  0.104108
                                     university      -0.471289 -0.234797
숙박 및 음식점업 (55 ~ 56)                  high_school      0.081079 -0.200935
                                     college          0.007101 -0.132649
                                     university       0.105495  0.172640
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school      0.264265  0.377616
                                     college         -0.224565  0.043219
                                     university      -0.310883 -0.230537
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school     -0.145631  0.133579
                                     college         -0.030945 -0.127014
                                     university       0.058432  0.053749
보건업 및 사회복지 서비스업(86~87)               high_school      0.161026  0.047235
                                     college         -0.003503 -0.278745
                                     university      -0.236457 -0.009214

                                                  영국 FTSE 100   러셀 3000  \
제조업 (10 ~ 33)                        high_school     0.354331  0.337412
                                     college         0.168280  0.098659
                                     university     -0.008187 -0.032983
도매 및 소매업 (45~47)                     high_school     0.286900  0.209488
                                     college        -0.152891 -0.135157
                                     university     -0.124508 -0.220456
건설업 (41 ~ 42)                        high_school     0.010920 -0.001749
                                     college         0.218318  0.066265
                                     university     -0.001042 -0.002437
운수업(49~52)                           high_school     0.261948  0.258041
                                     college        -0.293609 -0.214302
                                     university      0.173292  0.047496
교육 서비스업(85)                          high_school     0.425842  0.430967
                                     college         0.081265  0.082895
                                     university     -0.220469 -0.218818
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school     0.110760  0.117859
                                     college        -0.152877 -0.272650
                                     university      0.249981  0.275991
공공행정, 국방 및 사회보장 행정(84)               high_school    -0.089968 -0.082491
                                     college         0.300576  0.279637
                                     university      0.161604  0.021839
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school     0.247758  0.186086
                                     college         0.175688  0.128788
                                     university     -0.273169 -0.252336
금융 및 보험업 (64 ~ 66)                   high_school    -0.235841 -0.200259
                                     college        -0.076526 -0.137427
                                     university      0.112541  0.193461
농업, 임업 및 어업 (01 ~ 03)                high_school     0.360384  0.402672
                                     college         0.173616  0.179478
                                     university     -0.055507 -0.120646
부동산업 및 임대업 (68 ~ 69)                 high_school    -0.037810 -0.008151
                                     college         0.143639 -0.017361
                                     university     -0.225306 -0.318966
숙박 및 음식점업 (55 ~ 56)                  high_school    -0.270973 -0.312171
                                     college        -0.048803  0.031143
                                     university      0.278044  0.076321
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school     0.329076  0.262655
                                     college        -0.128078 -0.142852
                                     university     -0.100350 -0.160784
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school    -0.036905  0.045244
                                     college        -0.146349 -0.201250
                                     university     -0.078172 -0.030806
보건업 및 사회복지 서비스업(86~87)               high_school     0.066214  0.043754
                                     college        -0.296100 -0.279266
                                     university     -0.036325 -0.006701

                                                  국고채 총수익 지수  국고채 콜 재투자 지수  \
제조업 (10 ~ 33)                        high_school   -0.238511     -0.229439
                                     college       -0.105533     -0.092992
                                     university    -0.044061     -0.039423
도매 및 소매업 (45~47)                     high_school   -0.408810     -0.412757
                                     college       -0.008652     -0.006638
                                     university    -0.054706     -0.050896
건설업 (41 ~ 42)                        high_school   -0.276601     -0.273654
                                     college       -0.291898     -0.288074
                                     university    -0.201062     -0.200849
운수업(49~52)                           high_school   -0.470668     -0.466188
                                     college        0.246178      0.249589
                                     university     0.043804      0.051133
교육 서비스업(85)                          high_school   -0.292827     -0.284835
                                     college       -0.084625     -0.083636
                                     university     0.138594      0.140337
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school   -0.501708     -0.497391
                                     college        0.039427      0.042908
                                     university    -0.349169     -0.342871
공공행정, 국방 및 사회보장 행정(84)               high_school    0.086053      0.080765
                                     college       -0.191058     -0.178862
                                     university    -0.369464     -0.362411
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school   -0.167711     -0.160126
                                     college       -0.042423     -0.036179
                                     university    -0.233208     -0.231222
금융 및 보험업 (64 ~ 66)                   high_school   -0.006953      0.000901
                                     college       -0.058088     -0.057295
                                     university     0.008341      0.008984
농업, 임업 및 어업 (01 ~ 03)                high_school   -0.381145     -0.382577
                                     college       -0.209037     -0.223569
                                     university     0.095024      0.087929
부동산업 및 임대업 (68 ~ 69)                 high_school   -0.298210     -0.296367
                                     college       -0.143530     -0.142256
                                     university    -0.024272     -0.021355
숙박 및 음식점업 (55 ~ 56)                  high_school   -0.105534     -0.099224
                                     college        0.213038      0.215131
                                     university    -0.559949     -0.546876
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school   -0.024713     -0.024392
                                     college        0.168091      0.166913
                                     university    -0.154010     -0.147174
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school   -0.061536     -0.056638
                                     college       -0.020219     -0.024574
                                     university    -0.039055     -0.034777
보건업 및 사회복지 서비스업(86~87)               high_school    0.184016      0.180252
                                     college       -0.202496     -0.209363
                                     university    -0.252808     -0.244793

                                                  국고채 제로 재투자 지수  \
제조업 (10 ~ 33)                        high_school      -0.229142
                                     college          -0.104382
                                     university       -0.033030
도매 및 소매업 (45~47)                     high_school      -0.406988
                                     college          -0.011942
                                     university       -0.056350
건설업 (41 ~ 42)                        high_school      -0.271556
                                     college          -0.295109
                                     university       -0.191661
운수업(49~52)                           high_school      -0.467308
                                     college           0.246337
                                     university        0.044775
교육 서비스업(85)                          high_school      -0.286248
                                     college          -0.084801
                                     university        0.135529
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school      -0.492771
                                     college           0.033189
                                     university       -0.343054
공공행정, 국방 및 사회보장 행정(84)               high_school       0.074351
                                     college          -0.181223
                                     university       -0.361505
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school      -0.162664
                                     college          -0.042275
                                     university       -0.229410
금융 및 보험업 (64 ~ 66)                   high_school       0.006260
                                     college          -0.061602
                                     university        0.003880
농업, 임업 및 어업 (01 ~ 03)                high_school      -0.366475
                                     college          -0.219147
                                     university        0.092199
부동산업 및 임대업 (68 ~ 69)                 high_school      -0.288148
                                     college          -0.147952
                                     university       -0.028311
숙박 및 음식점업 (55 ~ 56)                  high_school      -0.103126
                                     college           0.215852
                                     university       -0.555912
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school      -0.029843
                                     college           0.159515
                                     university       -0.144826
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school      -0.061291
                                     college          -0.026735
                                     university       -0.037636
보건업 및 사회복지 서비스업(86~87)               high_school       0.173240
                                     college          -0.212383
                                     university       -0.245065

                                                  KRW Cash 총수익 지수
제조업 (10 ~ 33)                        high_school         0.069397
                                     college             0.066646
                                     university          0.142466
도매 및 소매업 (45~47)                     high_school        -0.023474
                                     college             0.083595
                                     university         -0.071657
건설업 (41 ~ 42)                        high_school         0.110209
                                     college            -0.078940
                                     university         -0.049999
운수업(49~52)                           high_school        -0.192250
                                     college             0.115164
                                     university          0.079601
교육 서비스업(85)                          high_school         0.148992
                                     college             0.008359
                                     university          0.154756
협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)     high_school         0.035419
                                     college             0.051956
                                     university         -0.006275
공공행정, 국방 및 사회보장 행정(84)               high_school         0.111089
                                     college             0.208291
                                     university         -0.099779
출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)     high_school         0.085153
                                     college            -0.059402
                                     university          0.115883
금융 및 보험업 (64 ~ 66)                   high_school         0.332052
                                     college            -0.046158
                                     university          0.020913
농업, 임업 및 어업 (01 ~ 03)                high_school         0.161484
                                     college            -0.006941
                                     university         -0.201529
부동산업 및 임대업 (68 ~ 69)                 high_school         0.091345
                                     college            -0.063528
                                     university          0.015145
숙박 및 음식점업 (55 ~ 56)                  high_school         0.009873
                                     college            -0.001198
                                     university         -0.181373
하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39) high_school        -0.039600
                                     college            -0.035426
                                     university          0.119364
전문, 과학 및 기술 서비스업 (70 ~ 73)           high_school         0.368191
                                     college            -0.194779
                                     university         -0.034112
보건업 및 사회복지 서비스업(86~87)               high_school         0.169996
                                     college             0.195248
                                     university         -0.006862

In [20]:
corr_mat_dic = {}
for i in ksi.columns:
    corr_mat_dic[i] = pd.concat([ksi[i], eta], axis=1).dropna().corr()
    
sample_corr_mat = pd.DataFrame.from_dict({(i,k): corr_mat_dic[i][k]
                            for i in corr_mat_dic.keys()
                            for k in corr_mat_dic[i].columns}, orient="index")
sample_corr_mat

                                                                   (제조업 (10 ~ 33), high_school)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                      1.000000
                                     대한민국 - KOSPI                                      0.651662
                                     독일 DAX                                            0.417717
                                     영국 FTSE 100                                       0.354331
                                     러셀 3000                                           0.337412
...                                                                                         ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                NaN
                                     국고채 총수익 지수                                             NaN
                                     국고채 콜 재투자 지수                                           NaN
                                     국고채 제로 재투자 지수                                          NaN
                                     KRW Cash 총수익 지수                                        NaN

                                                                   대한민국 - KOSPI  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)      0.651662
                                     대한민국 - KOSPI                      1.000000
                                     독일 DAX                            0.627000
                                     영국 FTSE 100                       0.663290
                                     러셀 3000                           0.555705
...                                                                         ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                           0.555705
                                     국고채 총수익 지수                       -0.476768
                                     국고채 콜 재투자 지수                     -0.474082
                                     국고채 제로 재투자 지수                    -0.471153
                                     KRW Cash 총수익 지수                  -0.086017

                                                                     독일 DAX  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)  0.417717
                                     대한민국 - KOSPI                  0.627000
                                     독일 DAX                        1.000000
                                     영국 FTSE 100                   0.916633
                                     러셀 3000                       0.863210
...                                                                     ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                       0.863210
                                     국고채 총수익 지수                   -0.456532
                                     국고채 콜 재투자 지수                 -0.451282
                                     국고채 제로 재투자 지수                -0.453166
                                     KRW Cash 총수익 지수               0.055133

                                                                   영국 FTSE 100  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)     0.354331
                                     대한민국 - KOSPI                     0.663290
                                     독일 DAX                           0.916633
                                     영국 FTSE 100                      1.000000
                                     러셀 3000                          0.919927
...                                                                        ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                          0.919927
                                     국고채 총수익 지수                      -0.560185
                                     국고채 콜 재투자 지수                    -0.554563
                                     국고채 제로 재투자 지수                   -0.554810
                                     KRW Cash 총수익 지수                 -0.075208

                                                                    러셀 3000  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)  0.337412
                                     대한민국 - KOSPI                  0.555705
                                     독일 DAX                        0.863210
                                     영국 FTSE 100                   0.919927
                                     러셀 3000                       1.000000
...                                                                     ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                       1.000000
                                     국고채 총수익 지수                   -0.487033
                                     국고채 콜 재투자 지수                 -0.483137
                                     국고채 제로 재투자 지수                -0.480390
                                     KRW Cash 총수익 지수               0.013161

                                                                   국고채 총수익 지수  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)   -0.238511
                                     대한민국 - KOSPI                   -0.476768
                                     독일 DAX                         -0.456532
                                     영국 FTSE 100                    -0.560185
                                     러셀 3000                        -0.487033
...                                                                       ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                        -0.487033
                                     국고채 총수익 지수                      1.000000
                                     국고채 콜 재투자 지수                    0.999561
                                     국고채 제로 재투자 지수                   0.999086
                                     KRW Cash 총수익 지수                 0.338432

                                                                   국고채 콜 재투자 지수  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)     -0.229439
                                     대한민국 - KOSPI                     -0.474082
                                     독일 DAX                           -0.451282
                                     영국 FTSE 100                      -0.554563
                                     러셀 3000                          -0.483137
...                                                                         ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                          -0.483137
                                     국고채 총수익 지수                        0.999561
                                     국고채 콜 재투자 지수                      1.000000
                                     국고채 제로 재투자 지수                     0.999597
                                     KRW Cash 총수익 지수                   0.352718

                                                                   국고채 제로 재투자 지수  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)      -0.229142
                                     대한민국 - KOSPI                      -0.471153
                                     독일 DAX                            -0.453166
                                     영국 FTSE 100                       -0.554810
                                     러셀 3000                           -0.480390
...                                                                          ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                           -0.480390
                                     국고채 총수익 지수                         0.999086
                                     국고채 콜 재투자 지수                       0.999597
                                     국고채 제로 재투자 지수                      1.000000
                                     KRW Cash 총수익 지수                    0.357308

                                                                   KRW Cash 총수익 지수  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)         0.069397
                                     대한민국 - KOSPI                        -0.086017
                                     독일 DAX                               0.055133
                                     영국 FTSE 100                         -0.075208
                                     러셀 3000                              0.013161
...                                                                            ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                              0.013161
                                     국고채 총수익 지수                           0.338432
                                     국고채 콜 재투자 지수                         0.352718
                                     국고채 제로 재투자 지수                        0.357308
                                     KRW Cash 총수익 지수                      1.000000

                                                                   (제조업 (10 ~ 33), college)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                       NaN
                                     대한민국 - KOSPI                                       NaN
                                     독일 DAX                                             NaN
                                     영국 FTSE 100                                        NaN
                                     러셀 3000                                            NaN
...                                                                                     ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                            NaN
                                     국고채 총수익 지수                                         NaN
                                     국고채 콜 재투자 지수                                       NaN
                                     국고채 제로 재투자 지수                                      NaN
                                     KRW Cash 총수익 지수                                    NaN

                                                                   ...  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)  ...
                                     대한민국 - KOSPI                  ...
                                     독일 DAX                        ...
                                     영국 FTSE 100                   ...
                                     러셀 3000                       ...
...                                                                ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                       ...
                                     국고채 총수익 지수                    ...
                                     국고채 콜 재투자 지수                  ...
                                     국고채 제로 재투자 지수                 ...
                                     KRW Cash 총수익 지수               ...

                                                                   (숙박 및 음식점업 (55 ~ 56), university)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                NaN
                                     대한민국 - KOSPI                                                NaN
                                     독일 DAX                                                      NaN
                                     영국 FTSE 100                                                 NaN
                                     러셀 3000                                                     NaN
...                                                                                              ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                     NaN
                                     국고채 총수익 지수                                                  NaN
                                     국고채 콜 재투자 지수                                                NaN
                                     국고채 제로 재투자 지수                                               NaN
                                     KRW Cash 총수익 지수                                             NaN

                                                                   (하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39), high_school)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                                NaN
                                     대한민국 - KOSPI                                                                NaN
                                     독일 DAX                                                                      NaN
                                     영국 FTSE 100                                                                 NaN
                                     러셀 3000                                                                     NaN
...                                                                                                              ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                                     NaN
                                     국고채 총수익 지수                                                                  NaN
                                     국고채 콜 재투자 지수                                                                NaN
                                     국고채 제로 재투자 지수                                                               NaN
                                     KRW Cash 총수익 지수                                                             NaN

                                                                   (하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39), college)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                              NaN
                                     대한민국 - KOSPI                                                              NaN
                                     독일 DAX                                                                    NaN
                                     영국 FTSE 100                                                               NaN
                                     러셀 3000                                                                   NaN
...                                                                                                            ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                                   NaN
                                     국고채 총수익 지수                                                                NaN
                                     국고채 콜 재투자 지수                                                              NaN
                                     국고채 제로 재투자 지수                                                             NaN
                                     KRW Cash 총수익 지수                                                           NaN

                                                                   (하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39), university)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                                NaN
                                     대한민국 - KOSPI                                                                NaN
                                     독일 DAX                                                                      NaN
                                     영국 FTSE 100                                                                 NaN
                                     러셀 3000                                                                     NaN
...                                                                                                              ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                                     NaN
                                     국고채 총수익 지수                                                                  NaN
                                     국고채 콜 재투자 지수                                                                NaN
                                     국고채 제로 재투자 지수                                                               NaN
                                     KRW Cash 총수익 지수                                                             NaN

                                                                   (전문, 과학 및 기술 서비스업 (70 ~ 73), high_school)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                        NaN
                                     대한민국 - KOSPI                                                        NaN
                                     독일 DAX                                                              NaN
                                     영국 FTSE 100                                                         NaN
                                     러셀 3000                                                             NaN
...                                                                                                      ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                             NaN
                                     국고채 총수익 지수                                                          NaN
                                     국고채 콜 재투자 지수                                                        NaN
                                     국고채 제로 재투자 지수                                                       NaN
                                     KRW Cash 총수익 지수                                                     NaN

                                                                   (전문, 과학 및 기술 서비스업 (70 ~ 73), college)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                    NaN
                                     대한민국 - KOSPI                                                    NaN
                                     독일 DAX                                                          NaN
                                     영국 FTSE 100                                                     NaN
                                     러셀 3000                                                         NaN
...                                                                                                  ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                         NaN
                                     국고채 총수익 지수                                                      NaN
                                     국고채 콜 재투자 지수                                                    NaN
                                     국고채 제로 재투자 지수                                                   NaN
                                     KRW Cash 총수익 지수                                                 NaN

                                                                   (전문, 과학 및 기술 서비스업 (70 ~ 73), university)  \
(제조업 (10 ~ 33), high_school)         (제조업 (10 ~ 33), high_school)                                       NaN
                                     대한민국 - KOSPI                                                       NaN
                                     독일 DAX                                                             NaN
                                     영국 FTSE 100                                                        NaN
                                     러셀 3000                                                            NaN
...                                                                                                     ...
(보건업 및 사회복지 서비스업(86~87), university) 러셀 3000                                                            NaN
                                     국고채 총수익 지수                                                         NaN
                                     국고채 콜 재투자 지수                                                       NaN
                                     국고채 제로 재투자 지수                                                      NaN

In [21]:
ksi.columns

MultiIndex([(                       '제조업 (10 ~ 33)', 'high_school'),
            (                       '제조업 (10 ~ 33)',     'college'),
            (                       '제조업 (10 ~ 33)',  'university'),
            (                    '도매 및 소매업 (45~47)', 'high_school'),
            (                    '도매 및 소매업 (45~47)',     'college'),
            (                    '도매 및 소매업 (45~47)',  'university'),
            (                       '건설업 (41 ~ 42)', 'high_school'),
            (                       '건설업 (41 ~ 42)',     'college'),
            (                       '건설업 (41 ~ 42)',  'university'),
            (                          '운수업(49~52)', 'high_school'),
            (                          '운수업(49~52)',     'college'),
            (                          '운수업(49~52)',  'university'),
            (                         '교육 서비스업(85)', 'high_school'),
            (                         '교육 서비스업(85)',     'college'),
            (                         '교육 서비스업(85)',  'university'),
            (    '협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)', 'high_school'),
            (    '협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)',     'college'),
            (    '협회 및 단체, 수리 및 기타 개인 서비스 업(94~96)',  'university'),
            (              '공공행정, 국방 및 사회보장 행정(84)', 'high_school'),
            (              '공공행정, 국방 및 사회보장 행정(84)',     'college'),
            (              '공공행정, 국방 및 사회보장 행정(84)',  'university'),
            (    '출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)', 'high_school'),
            (    '출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)',     'college'),
            (    '출판, 영상, 방송통 신 및 정보서비스업 (58 ~ 63)',  'university'),
            (                  '금융 및 보험업 (64 ~ 66)', 'high_school'),
            (                  '금융 및 보험업 (64 ~ 66)',     'college'),
            (                  '금융 및 보험업 (64 ~ 66)',  'university'),
            (               '농업, 임업 및 어업 (01 ~ 03)', 'high_school'),
            (               '농업, 임업 및 어업 (01 ~ 03)',     'college'),
            (               '농업, 임업 및 어업 (01 ~ 03)',  'university'),
            (                '부동산업 및 임대업 (68 ~ 69)', 'high_school'),
            (                '부동산업 및 임대업 (68 ~ 69)',     'college'),
            (                '부동산업 및 임대업 (68 ~ 69)',  'university'),
            (                 '숙박 및 음식점업 (55 ~ 56)', 'high_school'),
            (                 '숙박 및 음식점업 (55 ~ 56)',     'college'),
            (                 '숙박 및 음식점업 (55 ~ 56)',  'university'),
            ('하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39)', 'high_school'),
            ('하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39)',     'college'),
            ('하수 · 폐기물 처리, 원료재생 및 환경복 원업 (37 ~ 39)',  'university'),
            (          '전문, 과학 및 기술 서비스업 (70 ~ 73)', 'high_school'),
            (          '전문, 과학 및 기술 서비스업 (70 ~ 73)',     'college'),
            (          '전문, 과학 및 기술 서비스업 (70 ~ 73)',  'university'),
            (              '보건업 및 사회복지 서비스업(86~87)', 'high_school'),
            (              '보건업 및 사회복지 서비스업(86~87)',     'college'),
            (              '보건업 및 사회복지 서비스업(86~87)',  'university')],
           )

In [22]:
item = (                  '금융 및 보험업 (64 ~ 66)',  'university')
corr_mat_dic[item].to_excel("C:\\Users\\JeayongYu\\PycharmProjects\\human_captial\\data\\"+str(item)+"_corr(5_index_without_nasdaq).xlsx")